@import '../../node_modules/sweetalert2/dist/sweetalert2.min.css';


.test-wrapper
  .btn 
    font-size 16px
    line-height 1.5
    padding .3em .6em
  

.test-wrapper
  background-color orange
  .test
    width 80%
    height 240px
    margin 30px
    // box-sizing border-box
  .test1
    border 10px dashed rgba(255, 255, 255, .5)
    background-color white
    background-clip padding-box
  .test2
    background-color green
    box-shadow 0 0 0 10px red, 0 0 0 20px gray
  .test3
    margin-top 12px
    background-color green
    border 10px solid red