@import '../../node_modules/sweetalert2/dist/sweetalert2.min.css';


// #root .wrapper {
// 	color: red;
// }

// #root .wrapper2 {
// 	color: blue;
// }


#root
	.wrapper
		color red
	.wrapper2
		color blue