.wrapper
	display table
	table-layout fixed
	width 100%
	.left
		display table-cell
		// float left
		width 200px
		height 200px
		margin-right 20px
		.test
			background-color red
			width 200px
			height 200px
	.right
		display table-cell
		height 300px
		width 200px
		// overflow hidden
		// margin-left 250px
		background-color blue
	.main
		display table-cell
		height 300px
		background-color orange
		// overflow hidden
		// margin-left 250px
		