@import '../../node_modules/sweetalert2/dist/sweetalert2.min.css';


body
	background-color rgba(245, 245, 245, 1)

#root
	.header
		width 100%
		height 80px
		background-color rgb(42, 42, 42)
		color #fff
		.left
			display inline-block
			height 100%
			padding 20px 32px
			color #fff
			.logo
				width 40px
				height 40px
				vertical-align middle
			.title
				font-size 18px
				font-weight 700
				padding-left 12px
				line-height 40px
		.tab
			display inline-block
			color #fff
			padding-left 64px
			height 100%
			vertical-align middle
			.tab-item
				display inherit
				color #fff
				height 100%
				vertical-align middle
				padding-right 32px
				&:last-of-type
					padding-right 0
				.item
					position relative
					color #fff
					font-size 16px
					line-height 80px
					&:hover
						color #fa3140
		.form-wrapper
			float right
			height 100%
			padding-right 72px
			color #ddd
			.form-item
				padding-top 20px
				color #ddd
				.form-control
					height 100%
					color #ddd
					.input-content
						border 0
						color #ddd
						padding 12px 0 12px 6px
						border-bottom 1px solid #ddd
						background-color transparent
					.submit
						display inline-block
						border 0
						padding-top 12px
						background-color transparent
						.iconfont
							color #ddd
							font-size 16px
		.right
			float right
			height 100%
			display flex
			flex-flow row nowrap
			justify-content center
			align-items center
			.shopcar
				color #ddd
				flex 0 0 100px
				width 100px
				cursor pointer
				&:hover
					color #fa3140
					& > .title
						color #fa3140
				.iconfont
					font-size 24px
					padding-right 12px
					color #ddd
				.title
					color #ddd
			.sign
				flex 1
				padding-left 24px
				color #ddd
				.signin
					display inline-block
					padding-right 32px
					&:hover
						color #fa3140
						cursor pointer
				.signup
					display inline-block
					padding-right 32px
					&:hover
						color #fa3140
						cursor pointer
				&.loging
					position relative
					.personal-wrapper
						cursor pointer
						padding-right 32px
						&:hover > img
							border 2px solid #fa3140
						img
							border-radius 50%
							border 2px solid transparent
					&:hover .information-wrapper
						visibility visible
						opacity 1
					.information-wrapper
						visibility hidden
						opacity 0
						position absolute
						top 100%
						right 12px
						width 280px
						height 260px
						background-color #fff
						box-shadow -2px 2px 5px #ddd
						z-index 1000
						.first
							width 100%
							.left-wrapper
								display inline-block
								width 40%
								vertical-align top
								box-sizing border-box
								padding 24px
								img
									border-radius 50%
							.right-wrapper
								display inline-block
								.name
									padding 48px 12px
									cursor pointer
									color rgba(42, 42, 42, .6)
									&:hover
										text-decoration underline
						.second
							width 100%
							.block-wrapper
								padding 0 24px
								.shopcar
									color rgba(42, 42, 42, .4)
									display inline-block
									padding 6px 4px
									margin-bottom 8px
									margin-right 8px
									font-weight 500
									font-size 12px
									&:nth-of-type(2n)
										margin-right 0
									background-color rgba(147, 153, 159, .2)
									text-align center
									&:hover
										font-weight 700
										background-color rgba(147, 153, 159, .1)
						.signout
							.out
								float right
								padding-right 24px
								padding-top 12px
								&:hover
									color #ddd
	.type-item-wrapper
		min-height 720px
		padding 24px 20%
		.title
			padding 24px
			margin-bottom 32px
			font-size 16px
			font-weight 700
			text-align left
			border-bottom 1px solid #ddd
		.types-wrapper
			margin-bottom 64px
			.types-list
				.type-item
					display inline-block
					padding 6px 12px
					border-radius 6px
					&.active
						background-color #fa3140
						& > a
							color #fff	
					a
						font-size 16px
					&:not(.active):hover > a
							text-decoration underline
							color #fa3140
		.item-list
			display flex
			flex-flow row wrap

			.item
				flex 0 0 20%
				width 20%
				padding-right 12px
				box-sizing border-box
				padding-bottom 24px
				cursor pointer
				&:hover .body
					box-shadow 5px 5px 15px #ddd, -5px 0 15px #ddd
				&:hover > .child-title
					box-shadow 5px 5px 15px #ddd, -5px 0 15px #ddd
				&:nth-of-type(5n)
					padding-right 0
				.child-title
					color #fff
					padding 12px
					height 32px
					line-height 32px
					text-align left
					border-radius 6px 6px 0 0
					transition box-shadow .3s
					box-shadow 2px 2px 5px #ddd, -2px 0 10px #ddd
					background linear-gradient(270deg, rgba(210,115,230,.7), #d273e6)
				.body
					height 200px
					padding 12px
					box-sizing border-box
					background-color #fff
					transition box-shadow .3s
					box-shadow 2px 2px 2px #ddd, -2px 0 5px #ddd
					.heading
						padding 12px
						font-weight 500
						font-size 14px
						text-align left
					.instruction
						color #999
						padding 12px
						text-align left
						display -webkit-box
						line-height 28px
						overflow hidden
						text-overflow ellipsis
						-webkit-line-clamp 2;
						-webkit-box-orient vertical
					.diff
						color #999
						padding 12px
						text-align right
	.footer
		width 100%
		min-height 150px
		background-color rgb(42, 42, 42)
		.footer-wrapper
			padding 32px 300px
			text-align center
			.first-line
				padding 12px
				.iconfont
					color #ddd
					font-size 32px
					&:hover
						color #fa3140
			.second-line
				font-size 16px
				font-weight 700
				padding 12px 0
				border-bottom 1px solid #666
				a
					color #ddd
					padding-left 24px
					padding-right 24px
					border-right 1px solid #ddd
					&:last-of-type
						border-right 0
				& > a:hover
					color #fa3140
			.last-line
				padding 12px 0 0 0
				color #ddd
				font-size 12px
				font-weight normal

