doctype 5
html
  meta(charset="utf-8")
  title CSS揭秘
  link(rel="stylesheet" href="/static/css/cssPDF.css" type="text/css")
  body
    h1 hello, world
    
    script(src="/static/js/bundles/cssPDF.js")
