<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/common/reset.css" rel="stylesheet">
    <link href="/static/css/css.css" rel="stylesheet">
  </head>
  <body>
    <div class="test-wrapper">
      <button class="btn">click me</button>
    </div>

    <div class="test-wrapper">
      <div class="test test1"></div>
    </div>

    <div class="test-wrapper">
      <div class="test test2"></div>
    </div>
    
    <div class="test-wrapper">
      <div class="test test3"></div>
    </div>
    <script src="/static/js/bundles/css.js"></script>
  </body>
</html>