<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>小视频贩卖网</title>
  <!-- 消除浏览器差异 -->
  <link rel="stylesheet" href="/static/css/common/reset.css"> 
  <!-- 要写的CSS -->
  <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
  <div id="root">
    {{ message }}
    <div class="wrapper">
      hello, world
    </div>
    <div class="wrapper2">
      hello, world
    </div>
  </div>

  <script src="/static/js/bundles/home.js"></script>
</body>
</html>
