<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>xxxxx 后台管理</title>
  <link rel="stylesheet" href="/static/end/static/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/end/static/styles/css/main.css">
  <link rel="stylesheet" href="/static/end/static/styles/css/sweetalert2.min.css">
</head>
<body>
  <!--navbar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="./">XXXXXXX</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="../index/index.html?">用户<span class="sr-only">(current)</span></a></li>
          <li><a href="/admin/location?">地区</a></li>
          <li><a href="/admin/vedio?">视频</a></li>
          <li><a href="/admin/other?">其他</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="javascript:;">
              欢迎你, <span id="adminUsrName"></span>
              <span href="javascript:;" id="singOut"> 退出登录</span>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- container -->
  <div class="new-container">
    <!-- nav - small -->
    <div class="col-sm-2 left-menu">
      <ul class="nav nav-pills nav-stacked">
        <li class="li-target active" data-type="1" role="presentation"><a href="#target1">普通用户</a></li>
        <li class="li-target" data-type="2" role="presentation"><a href="#target2">视频发布用户</a></li>
      </ul>
    </div>
    <!-- main wrapper -->
    <div class="col-sm-10 right-content">

      <div id="target1" class="target">
        <h4>普通用户 &gt;</h4>
        <!-- search, lots of operation -->
        <div class="wrapper">
          <form class="form-inline" id="target1-searchForm">
            <div class="form-group">
              <label for="exampleInputName2">关键字</label>
              <input type="text"
                class="form-control"
                id="exampleInputName2"
                placeholder="请输入关键字">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">类型</label>
              <select
                class="form-control"
                style="min-width: 64px;"
                id="target1-keyWords"
                name="keyWords">
              </select>
            </div>
            <button type="button" class="btn btn-default" id="target1-searchForKey">搜索</button>
          </form>
        </div>
        <!-- multiple handle -->
        <div class="handle-wrapper">
          <button id="target1-mul-remove"
            class="btn btn-warning">批量删除</button>
          <!-- <button id="target1-add"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addDialog">增加</button> -->
        </div>
        <!-- table wrapper -->
        <div class="table-responsive">
          <form class="target-form">
            <table id="target1-table" class="table table-bordered .table-hover">
              <thead>
                <tr>
                  <td class="text-center">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="allSelect">全选
                      </label>
                    </div>
                  </td>
                  <td>ObjectId</td>
                  <td>用户名</td>
                  <td>姓名</td>
                  <td>性别</td>
                  <td>头像</td>
                  <td>电话</td>
                  <td>邮箱</td>
                  <td>最后登录时间</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody id="target1-body">

              </tbody>
            </table>
          </form>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group target1-btns" style="float: right;">
            <button class="btn btn-default" data-page="0"><<</button>
            <button class="btn btn-default" data-page="1">1</button>
            <button class="btn btn-default" data-page="2">2</button>
            <button class="btn btn-default" data-page="3">3</button>
            <button class="btn btn-default" data-page="-1">>></button>
          </div>
        </div>
      </div>
      <!-- *************************************************** -->
      <div id="target2" class="target">
        <h4>视频发布用户 &gt;</h4>
        <!-- search, lots of operation -->
        <div class="wrapper">
          <form class="form-inline" id="target2-searchForm">
            <div class="form-group">
              <label for="exampleInputName2">关键字</label>
              <input type="text"
                class="form-control"
                id="exampleInputName2"
                placeholder="请输入关键字">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">类型</label>
              <select
                class="form-control"
                style="min-width: 64px;"
                id="target2-keyWords"
                name="keyWords">
              </select>
            </div>
            <button type="button" class="btn btn-default" id="target2-searchForKey">搜索</button>
          </form>
        </div>
        <!-- multiple handle -->
        <div class="handle-wrapper">
          <button id="target2-mul-remove" class="btn btn-warning">批量删除</button>
          <button id="target2-add"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addDialog">增加</button>
        </div>
        <!-- table wrapper -->
        <div class="table-responsive">
          <form class="target-form">
            <table id="target2-table" class="table table-bordered .table-hover">
              <thead>
                <tr>
                  <td class="text-center">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="allSelect">全选
                      </label>
                    </div>
                  </td>
                  <td>ObjectId</td>
                  <td>用户名</td>
                  <td>姓名</td>
                  <td>性别</td>
                  <td>头像</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody id="target2-body">

              </tbody>
            </table>
          </form>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group target2-btns" style="float: right;">
            <button class="btn btn-default" data-page="0"><<</button>
            <button class="btn btn-default" data-page="1">1</button>
            <button class="btn btn-default" data-page="2">2</button>
            <button class="btn btn-default" data-page="3">3</button>
            <button class="btn btn-default" data-page="-1">>></button>
          </div>
        </div>
      </div>
      <!-- *************************************************** -->
    </div>
  </div>

  <!-- dialog -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">警告</h4>
        </div>
        <div class="modal-body">
          你确定要删除该数据吗
        </div>
        <div class="modal-footer">
          <button type="button"
            class="btn btn-default"
            data-dismiss="modal"
            id="noneDisplayremove">关闭</button>
          <button type="button"
            class="btn btn-danger"
            onclick="removeOne(event)">删除</button>
        </div>
      </div>
    </div>
  </div>

  <!-- add content -->
  <div class="modal fade" id="addDialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" id="target2-add-form">
            <div class="form-group">
              <label for="Name" class="col-sm-2 control-label">姓名</label>
              <div class="col-sm-10">
                <input type="text"
                  class="form-control"
                  name="Name"
                  placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label for="Phone"
                class="col-sm-2 control-label">手机</label>
              <div class="col-sm-10">
                <input type="number"
                   class="form-control"
                   pattern="[0-9]{11}"
                   name="Phone"
                   placeholder="Phone">
              </div>
            </div>
            <div class="form-group">
              <label for="WeixinCode" class="col-sm-2 control-label">微信</label>
              <div class="col-sm-10">
                <input type="text"
                  class="form-control"
                  name="WeixinCode"
                  placeholder="weChat">
              </div>
            </div>
            <div class="form-group">
              <label for="QQCode" class="col-sm-2 control-label">qq号码</label>
              <div class="col-sm-10">
                <input type="number"
                  class="form-control"
                  name="QQCode"
                  placeholder="QQCode">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="radio">
                  <label>
                    <input type="radio" name="Sex" value="1"> 男
                  </label>
                  <label>
                    <input type="radio" name="Sex" value="2"> 女
                  </label>
                  <label>
                    <input type="radio" name="Sex" value="0"> 保密
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
            type="button"
            id="addNewFloor">添加</button>
          <button type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            id="target2-add-close">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <!-- edit content -->
  <div class="modal fade" id="editDialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" id="target2-edit-form">
            <div class="form-group">
              <label for="Name" class="col-sm-2 control-label">姓名</label>
              <div class="col-sm-10">
                <input type="text"
                  class="form-control"
                  name="Name"
                  placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label for="Phone"
                class="col-sm-2 control-label">手机</label>
              <div class="col-sm-10">
                <input type="number"
                   class="form-control"
                   name="Phone"
                   placeholder="Phone">
              </div>
            </div>
            <div class="form-group">
              <label for="WeixinCode" class="col-sm-2 control-label">微信</label>
              <div class="col-sm-10">
                <input type="text"
                  class="form-control"
                  name="WeixinCode"
                  placeholder="weChat">
              </div>
            </div>
            <div class="form-group">
              <label for="QQCode" class="col-sm-2 control-label">qq号码</label>
              <div class="col-sm-10">
                <input type="number"
                  class="form-control"
                  name="QQCode"
                  placeholder="QQCode">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="radio">
                  <label>
                    <input type="radio" name="Sex" value="1"> 男
                  </label>
                  <label>
                    <input type="radio" name="Sex" value="2"> 女
                  </label>
                  <label>
                    <input type="radio" name="Sex" value="0"> 保密
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
            type="button"
            id="editOldFloor">修改</button>
          <button type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            id="target2-edit-close">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <!-- alert -->
  <div class="target-alert">
    <i class="glyphicon glyphicon-ok"></i>
  </div>

  <!-- table template -->
  <script id='target1-table-template' type='text/template'>
    <% for (var i = 0, len = ResultList.length; i < len; i++) { %>
      <tr>
        <th class="text-center">
          <div class="checkbox">
            <label>
              <input
                class="childbox"
                type="checkbox"
                value="<%= ResultList[i].Id %>">选择
            </label>
          </div>
        </th>
        <% for (var key in ResultList[i]) { %>
          <td class="text-center">
            <% if (key === 'HeadImgUrl') { %>
              <img
                width="60"
                height="60"
                src="<%= ResultList[i][key] %>"
                alt="error"/>
            <% } else { %>
              <%= ResultList[i][key] %>
            <% } %>
          </td>
        <% } %>
        <td>
          <button class="btn btn-primary"
            data-id="<%= ResultList[i].Id %>"
            data-type="<%= type %>"
            data-toggle="modal"
            data-target="#editDialog"
            onclick="editId=$(this).data('id');
            editType=$(this).data('type');
            editDate(editType, editId)">编辑</button>
          &nbsp;&nbsp;
          <button class="btn btn-danger"
            data-id="<%= ResultList[i].Id %>"
            data-type="<%= type %>"
            data-toggle="modal"
            data-target="#myModal"
            onclick="removeId=$(this).data('id');
            removeType=$(this).data('type');">删除</button>
        </td>
      </tr>
    <% } %>
  </script>


  <!-- scripts -->
  <script src="/static/end/static/jquery/dist/jquery.js"></script>
  <script src="/static/end/static/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/static/end/static/js/ejs.js"></script>
  <script src="/static/end/static/js/sweetalert2.min.js"></script>
  <script src="/static/end/static/js/hash.js"></script>
  <script src="/static/end/static/components/index.js"></script>
</body>
</html>
