<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XXXXXXX后台管理</title>
  <link rel="stylesheet" href="/static/end/static/bootstrap/dist/css/bootstrap.css">
  <!-- <link rel="stylesheet" href="./index.css"> -->
  <link rel="stylesheet" href="/static/end/static/styles/css/main.css">
  <link rel="stylesheet" href="/static/end/static/styles/css/sweetalert2.min.css">
</head>
<body>
  <!--navbar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="./">XXXXXXX</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/admin/user?">用户<span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="/admin/location?">地区</a></li>
          <li><a href="/admin/vedio?">视频</a></li>
          <li><a href="/admin/other?">首页</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="javascript:;">
              欢迎你, <span id="adminUsrName"></span>
              <span href="javascript:;" id="singOut"> 退出登录</span>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- container -->
  <div class="new-container">
    <!-- nav - small -->
    <div class="col-sm-2 left-menu">
      <ul class="nav nav-pills nav-stacked">
        <li class="li-target active" data-type="1" role="presentation"><a href="#target1">省份</a></li>
        <li class="li-target" data-type="2" role="presentation"><a href="#target2">城市</a></li>
        <li class="li-target" data-type="3" role="presentation"><a href="#target3">地区</a></li>
      </ul>
    </div>
    <!-- main wrapper -->
    <div class="col-sm-10 right-content">

      <div id="target1" class="target">
        <h4>省份 &gt;</h4>
        <!-- search, lots of operation -->
        <div class="wrapper">
          <form class="form-inline" id="target1-searchForm">
            <div class="form-group">
              <label for="exampleInputName2">关键字</label>
              <input type="text"
                class="form-control"
                id="exampleInputName2"
                placeholder="请输入关键字">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">类型</label>
              <select
                class="form-control"
                style="min-width: 64px;"
                id="target1-keyWords"
                name="keyWords">
              </select>
            </div>
            <button type="button" class="btn btn-default" id="target1-searchForKey">搜索</button>
          </form>
        </div>
        <!-- multiple handle -->
        <div class="handle-wrapper">
          <button id="target1-mul-remove"
            class="btn btn-warning">批量删除</button>
            <button id="target1-add"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#addDialog1">增加</button>
          <!-- <button id="target1-add"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addDialog">增加</button> -->
        </div>
        <!-- table wrapper -->
        <div class="table-responsive">
          <form class="target-form">
            <table id="target1-table" class="table table-bordered .table-hover">
              <thead>
                <tr>
                  <td class="text-center">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="allSelect">全选
                      </label>
                    </div>
                  </td>
                  <td>Id</td>
                  <td>名称</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody id="target1-body">

              </tbody>
            </table>
          </form>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group target1-btns" style="float: right;">
            <button class="btn btn-default" data-page="0"><<</button>
            <button class="btn btn-default" data-page="1">1</button>
            <button class="btn btn-default" data-page="2">2</button>
            <button class="btn btn-default" data-page="3">3</button>
            <button class="btn btn-default" data-page="-1">>></button>
          </div>
        </div>
      </div>
      <!-- *************************************************** -->
      <div id="target2" class="target">
        <h4>城市 &gt;</h4>
        <!-- search, lots of operation -->
        <div class="wrapper">
          <form class="form-inline" id="target2-searchForm">
            <div class="form-group">
              <label for="exampleInputName2">关键字</label>
              <input type="text"
                class="form-control"
                id="exampleInputName2"
                placeholder="请输入关键字">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">类型</label>
              <select
                class="form-control"
                style="min-width: 64px;"
                id="target2-keyWords"
                name="keyWords">
              </select>
            </div>
            <button type="button" class="btn btn-default" id="target2-searchForKey">搜索</button>
          </form>
        </div>
        <!-- multiple handle -->
        <div class="handle-wrapper">
          <button id="target2-mul-remove" class="btn btn-warning">批量删除</button>
          <button id="target2-add"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addDialog2">增加</button>
        </div>
        <!-- table wrapper -->
        <div class="table-responsive">
          <form class="target-form">
            <table id="target2-table" class="table table-bordered .table-hover">
              <thead>
                <tr>
                  <td class="text-center">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="allSelect">全选
                      </label>
                    </div>
                  </td>
                  <td>城市Id</td>
                  <td>城市名称</td>
                  <td>所属省份名称</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody id="target2-body">

              </tbody>
            </table>
          </form>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group target2-btns" style="float: right;">
            <button class="btn btn-default" data-page="0"><<</button>
            <button class="btn btn-default" data-page="1">1</button>
            <button class="btn btn-default" data-page="2">2</button>
            <button class="btn btn-default" data-page="3">3</button>
            <button class="btn btn-default" data-page="-1">>></button>
          </div>
        </div>
      </div>
      <!-- *************************************************** -->
      <div id="target3" class="target">
        <h4>地区 &gt;</h4>
        <!-- search, lots of operation -->
        <div class="wrapper">
          <form class="form-inline" id="target3-searchForm">
            <div class="form-group">
              <label for="exampleInputName3">关键字</label>
              <input type="text"
                class="form-control"
                id="exampleInputName3"
                placeholder="请输入关键字">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">类型</label>
              <select
                class="form-control"
                style="min-width: 64px;"
                id="target3-keyWords"
                name="keyWords">
              </select>
            </div>
            <button type="button"
              class="btn btn-default"
              id="target3-searchForKey">搜索</button>
          </form>
        </div>
        <!-- multiple handle -->
        <div class="handle-wrapper">
          <button id="target3-mul-remove" class="btn btn-warning">批量删除</button>
          <button id="target3-add"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addDialog3">增加</button>
        </div>
        <!-- table wrapper -->
        <div class="table-responsive">
          <form class="target-form">
            <table id="target3-table" class="table table-bordered .table-hover">
              <thead>
                <tr>
                  <td class="text-center">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="allSelect">全选
                      </label>
                    </div>
                  </td>
                  <td>Id</td>
                  <td>地区名称</td>
                  <td>所属城市名称</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody id="target3-body">

              </tbody>
            </table>
          </form>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group target3-btns" style="float: right;">
            <button class="btn btn-default" data-page="0"><<</button>
            <button class="btn btn-default" data-page="1">1</button>
            <button class="btn btn-default" data-page="2">2</button>
            <button class="btn btn-default" data-page="3">3</button>
            <button class="btn btn-default" data-page="-1">>></button>
          </div>
        </div>
      </div>
      <!-- *************************************************** -->
    </div>
  </div>

  <!-- dialog -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">警告</h4>
        </div>
        <div class="modal-body">
          你确定要删除该数据吗
        </div>
        <div class="modal-footer">
          <button type="button"
             class="btn btn-default"
             data-dismiss="modal"
             id="noneDisplayremove">关闭</button>
          <button type="button"
            class="btn btn-danger"
            onclick="removeOne(event)">删除</button>
        </div>
      </div>
    </div>
  </div>

  <!-- add content -->
  <div class="modal fade" id="addDialog1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" id="target1-add-form">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">省份名称</label>
              <div class="col-sm-10">
                <input type="email"
                  class="form-control"
                  name="name"
                  placeholder="name">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
            type="button"
            id="addNewFloor1">添加</button>
          <button type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            id="target1-add-close">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addDialog2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" id="target2-add-form">
            <div class="form-group">
              <label for="Name" class="col-sm-2 control-label">所属省份</label>
              <div class="col-sm-10">
                <select name="province" class="form-control">

                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="name"
                class="col-sm-2 control-label">城市名称</label>
              <div class="col-sm-10">
                <input type="text"
                   class="form-control"
                   name="name"
                   placeholder="name">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
            type="button"
            id="addNewFloor2">添加</button>
          <button type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            id="target2-add-close">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addDialog3">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" id="target3-add-form">
            <div class="form-group">
              <label for="city" class="col-sm-2 control-label">所属城市</label>
              <div class="col-sm-10">
                <select name="city" class="form-control">

                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="name"
                class="col-sm-2 control-label">地区名称</label>
              <div class="col-sm-10">
                <input type="text"
                   class="form-control"
                   name="name"
                   placeholder="name">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
            type="button"
            id="addNewFloor3">添加</button>
          <button type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            id="target3-add-close">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <!-- edit content -->
  <div class="modal fade" id="editDialog1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" id="target1-edit-form">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">省份名称</label>
              <div class="col-sm-10">
                <input type="text"
                  class="form-control"
                  name="name"
                  placeholder="name">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
            type="button"
            id="editOldFloor1">修改</button>
          <button type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            id="target1-edit-close">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editDialog2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" id="target2-edit-form">
            <div class="form-group">
              <label for="province" class="col-sm-2 control-label">所属省份</label>
              <div class="col-sm-10">
                <select name="province" class="form-control">

                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="name"
                class="col-sm-2 control-label">城市名称</label>
              <div class="col-sm-10">
                <input type="text"
                   class="form-control"
                   name="name"
                   placeholder="name">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
            type="button"
            id="editOldFloor2">修改</button>
          <button type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            id="target2-edit-close">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editDialog3">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" id="target3-edit-form">
            <div class="form-group">
              <label for="city" class="col-sm-2 control-label">所属城市</label>
              <div class="col-sm-10">
                <select name="city" class="form-control">

                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="name"
                class="col-sm-2 control-label">地区名称</label>
              <div class="col-sm-10">
                <input type="text"
                   class="form-control"
                   name="name"
                   placeholder="name">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
            type="button"
            id="editOldFloor3">修改</button>
          <button type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            id="target3-edit-close">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <!-- alert -->
  <div class="target-alert">
    <i class="glyphicon glyphicon-ok"></i>
  </div>

  <!-- table template -->
  <script id='target1-table-template' type='text/template'>
    <% for (var i = 0, len = ResultList.length; i < len; i++) { %>
      <tr>
        <th class="text-center">
          <div class="checkbox">
            <label>
              <input
                class="childbox"
                type="checkbox"
                value="<%= ResultList[i]._id %>">选择
            </label>
          </div>
        </th>
        <% for (var key in ResultList[i]) { %>
          <td class="text-center">
            <% if (key === 'HeadImgUrl') { %>
              <img
                width="60"
                height="60"
                src="<%= ResultList[i][key] %>"
                alt="error"/>
            <% } else { %>
              <%= ResultList[i][key] %>
            <% } %>
          </td>
        <% } %>
        <td>
          <button class="btn btn-primary"
            data-id="<%= ResultList[i]._id %>"
            data-type="<%= type %>"
            data-toggle="modal"
            data-target="#editDialog<%= type %>"
            onclick="editId=$(this).data('id');
            editType=$(this).data('type');
            editDate(editType, editId)">编辑</button>
          &nbsp;&nbsp;
          <button class="btn btn-danger"
            data-id="<%= ResultList[i]._id %>"
            data-type="<%= type %>"
            data-toggle="modal"
            data-target="#myModal"
            onclick="removeId=$(this).data('id');
            removeType=$(this).data('type')">删除</button>
        </td>
      </tr>
    <% } %>
  </script>


  <!-- scripts -->
  <script src="/static/end/static/jquery/dist/jquery.js"></script>
  <script src="/static/end/static/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/static/end/static/js/ejs.js"></script>
  <script src="/static/end/static/js/sweetalert2.min.js"></script>
  <script src="/static/end/static/js/hash.js"></script>
  <script src="/static/end/static/components/local.js"></script>
</body>
</html>
